@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    padding: 0%;
}

.btn-primari{
    text-align: center;
    display: flex;
}

h1{
    text-align: center;
}